# Data Engineering 1: Graded Lab 01 - Solution
---------------

#### Grading
For this graded lab you can get a total of 20 points. These 20 points count 10% of your final grade for the course.

#### Start
Start of the Graded Lab 01 is **Wednesday, March 30th at 23:55**.

#### Deadline
Deadline for the submission of the Graded Lab 01 is **Wednesday, April 13th at 23:59**.

#### Note
Check each result carefully. Use data filter, cleaning, and transformation methods wherever needed. The data can sometimes be really messy and have hidden issues.

#### Submission
You are allowed to submit the solution in groups of **two or three** students.
Submit your GradedLab01.ipynb file renamed to FirstnameStudent01LastnameStudent01_FirstnameStudent02LastnameStudent02_FirstnameStudent03LastnameStudent03.ipynb in moodle.   
Please submit a runnable python jupyter notebook file.
All other submissions will be rejected and graded with 0 points.

#### Task 01: Structured Data [8 points].    
The imdb.csv file contains a dataset extracted from IMDB with several attributes. For example, the title, plot, and the language of the movies. Read the imdb.csv file in a pandas dataframe and try to answer the following questions.

##### __(a)  What is the min, max, and the average value of the attribute 'rating' for all movies? [1 point].__

In [99]:
import pandas as pd
from IPython.display import display

df = pd.read_csv('imdb.csv')

min = df['rating'].min()
max = df['rating'].max()
mean = df['rating'].mean()

print("The minimum rating is:", min)
print("The maximum rating is:", max)
print("The average rating is:", mean)

The minimum rating is: 8.1
The maximum rating is: 9.6
The average rating is: 8.629559748427672

##### __(b) What is the min, max, and the average value of the attribute 'cumulative worldwide gross' for all movies? [1 point].__

In [100]:
df['cumulative_worldwide_gross'] = df['cumulative worldwide gross'].str.replace('$', '')
df['cumulative_worldwide_gross'] = df['cumulative_worldwide_gross'].str.replace(',', '')

df['cumulative_worldwide_gross'] = df['cumulative_worldwide_gross'].str.split(' ').str[0]
df['cumulative_worldwide_gross'] = df['cumulative_worldwide_gross'].astype(int)

min = df['cumulative_worldwide_gross'].min()
max = df['cumulative_worldwide_gross'].max()
mean = df['cumulative_worldwide_gross'].mean()

print("The minimum cummulative worldwide gross is:", min)
print("The maximum cummulative worldwide gross is:", max)
print("The average cummulative worldwide gross is:", mean)

df.head()

The minimum cummulative worldwide gross is: 0
The maximum cummulative worldwide gross is: 2797800564
The average cummulative worldwide gross is: 238223230.1509434

/var/folders/80/bc2y19t14tv5bdpct_7hqsd80000gn/T/ipykernel_9569/1962540773.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['cumulative_worldwide_gross'] = df['cumulative worldwide gross'].str.replace('$', '')

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot,cumulative_worldwide_gross
0,111161,movie,The Shawshank Redemption,['English'],['Drama'],9.3,Frank Darabont,"$58,500,000","$727,326, 20 Nov 1994","$25,000,000 (estimated)",Chronicles the experiences of a formerly succe...,58500000
1,68646,movie,The Godfather,"['English', 'Italian', 'Latin']","['Crime', 'Drama']",9.2,Francis Ford Coppola,"$245,066,411","$223,758, 04 Apr 1997","$6,000,000 (estimated)","The Godfather ""Don"" Vito Corleone is the head ...",245066411
2,468569,movie,The Dark Knight,"['English', 'Mandarin']","['Action', 'Crime', 'Drama', 'Thriller']",9.1,Christopher Nolan,"$1,004,558,444, 19 Jul 2012","$158,411,483, 20 Jul 2008","$185,000,000 (estimated)",Set within a year after the events of Batman B...,1004558444
3,108052,movie,Schindler's List,"['English', 'Hebrew', 'German', 'Polish', 'Lat...","['Biography', 'Drama', 'History']",9.0,Steven Spielberg,"$221,000,000","$566,760, 09 Dec 2018","$22,000,000 (estimated)",Oskar Schindler is a vain and greedy German bu...,221000000
4,110912,movie,Pulp Fiction,"['English', 'Spanish', 'French']","['Crime', 'Drama']",8.9,Quentin Tarantino,"$213,928,762","$9,311,882, 14 Oct 1994","$8,000,000 (estimated)",Jules Winnfield (Samuel L. Jackson) and Vincen...,213928762

##### __(c) What is the min, max, and the average value of the attribute 'cumulative worldwide gross' grouped by genre of the movies? [1 point].__

In [101]:
df_grouped = df.groupby('genres')

min = df_grouped['cumulative_worldwide_gross'].min()
max = df_grouped['cumulative_worldwide_gross'].max()
mean = df_grouped['cumulative_worldwide_gross'].mean()

print("The minimum cummulative worldwide gross by genre is:")
display(min)

print("The maximum cummulative worldwide gross by genre is:")
display(max)

print("The average cummulative worldwide gross by genre is:")
display(mean)

The minimum cummulative worldwide gross by genre is:

genres
['Action', 'Adventure', 'Drama', 'Fantasy']              0
['Action', 'Adventure', 'Drama', 'Sci-Fi']      2797800564
['Action', 'Adventure', 'Drama']                 457640427
['Action', 'Adventure', 'Fantasy', 'Sci-Fi']     165800000
['Action', 'Adventure', 'Fantasy']               654264015
                                                   ...
['Drama', 'Western']                             159157447
['Drama']                                                0
['Horror', 'Mystery', 'Sci-Fi']                    7821228
['Horror']                                       441306145
['Mystery', 'Thriller']                           36888916
Name: cumulative_worldwide_gross, Length: 83, dtype: int64

The maximum cummulative worldwide gross by genre is:

genres
['Action', 'Adventure', 'Drama', 'Fantasy']              0
['Action', 'Adventure', 'Drama', 'Sci-Fi']      2797800564
['Action', 'Adventure', 'Drama']                 457640427
['Action', 'Adventure', 'Fantasy', 'Sci-Fi']     775398007
['Action', 'Adventure', 'Fantasy']               654264015
                                                   ...
['Drama', 'Western']                             425368238
['Drama']                                        226200000
['Horror', 'Mystery', 'Sci-Fi']                    7821228
['Horror']                                       441306145
['Mystery', 'Thriller']                          294804195
Name: cumulative_worldwide_gross, Length: 83, dtype: int64

The average cummulative worldwide gross by genre is:

genres
['Action', 'Adventure', 'Drama', 'Fantasy']     0.000000e+00
['Action', 'Adventure', 'Drama', 'Sci-Fi']      2.797801e+09
['Action', 'Adventure', 'Drama']                4.576404e+08
['Action', 'Adventure', 'Fantasy', 'Sci-Fi']    3.963715e+08
['Action', 'Adventure', 'Fantasy']              6.542640e+08
                                                    ...
['Drama', 'Western']                            2.922628e+08
['Drama']                                       6.927431e+07
['Horror', 'Mystery', 'Sci-Fi']                 7.821228e+06
['Horror']                                      4.413061e+08
['Mystery', 'Thriller']                         1.238054e+08
Name: cumulative_worldwide_gross, Length: 83, dtype: float64

##### __(d) What is the profit (defined as cumulative worldwide gross - budget) of each movie? [1 point].__

In [102]:
df['budget'] = df['budget'].str.replace('$', '')
df['budget'] = df['budget'].str.split(' ').str[0]

df['budget'] = df['budget'].str.replace(',', '')
df['budget'] = df['budget'].astype(int)

df['profit'] = df['cumulative_worldwide_gross'] - df['budget']
df.head()

/var/folders/80/bc2y19t14tv5bdpct_7hqsd80000gn/T/ipykernel_9569/4020605791.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['budget'] = df['budget'].str.replace('$', '')

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot,cumulative_worldwide_gross,profit
0,111161,movie,The Shawshank Redemption,['English'],['Drama'],9.3,Frank Darabont,"$58,500,000","$727,326, 20 Nov 1994",25000000,Chronicles the experiences of a formerly succe...,58500000,33500000
1,68646,movie,The Godfather,"['English', 'Italian', 'Latin']","['Crime', 'Drama']",9.2,Francis Ford Coppola,"$245,066,411","$223,758, 04 Apr 1997",6000000,"The Godfather ""Don"" Vito Corleone is the head ...",245066411,239066411
2,468569,movie,The Dark Knight,"['English', 'Mandarin']","['Action', 'Crime', 'Drama', 'Thriller']",9.1,Christopher Nolan,"$1,004,558,444, 19 Jul 2012","$158,411,483, 20 Jul 2008",185000000,Set within a year after the events of Batman B...,1004558444,819558444
3,108052,movie,Schindler's List,"['English', 'Hebrew', 'German', 'Polish', 'Lat...","['Biography', 'Drama', 'History']",9.0,Steven Spielberg,"$221,000,000","$566,760, 09 Dec 2018",22000000,Oskar Schindler is a vain and greedy German bu...,221000000,199000000
4,110912,movie,Pulp Fiction,"['English', 'Spanish', 'French']","['Crime', 'Drama']",8.9,Quentin Tarantino,"$213,928,762","$9,311,882, 14 Oct 1994",8000000,Jules Winnfield (Samuel L. Jackson) and Vincen...,213928762,205928762

##### __(e)  What is the min, max, and the average value of the atttribute 'opening weekend united states' per month? [4 points].__

In [103]:
df['opening_weekend_united_states'] = df['opening weekend united states'].str.replace('$', '')
df['opening_weekend_united_states'] = df['opening_weekend_united_states'].str.replace(',', '')
df['opening_weekend_united_states'] = df['opening_weekend_united_states'].str.split(' ').str[0]
df['opening_weekend_united_states'] = df['opening_weekend_united_states'].astype(int)

min = df['opening_weekend_united_states'].min()
max = df['opening_weekend_united_states'].max()
mean = df['opening_weekend_united_states'].mean()

print("The minimum opening weekend united states is:", min)
print("The maximum opening weekend united states is:", max)
print("The average opening weekend united states is:", mean)

The minimum opening weekend united states is: 0
The maximum opening weekend united states is: 357115007
The average opening weekend united states is: 17620036.9245283

/var/folders/80/bc2y19t14tv5bdpct_7hqsd80000gn/T/ipykernel_9569/14019416.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['opening_weekend_united_states'] = df['opening weekend united states'].str.replace('$', '')

#### Task 02: Unstructured Data [12 points]. 
This time use the files imdb.csv from Task 01 and the imdb2.csv file. In this task we mainly use the content of the attribute 'plot' for the implementation of a retrieval system.

##### __(a)  Read the files imdb.csv and imdb2.csv in a dataframe called imdb. Add a column which is called 'plotterms' to each item. The new column should contain all terms (lower-case and cleaned from special characters) from the plot attribute which are not contained in the stopwords_english.txt file. [1 point]__

In [104]:
stopwords = []
with open('stopwords_english.txt', 'r') as f:
    for line in f:
        stopwords.append(line.strip())

# read both files imdb.csv and imdb2.csv into a single dataframe
df1 = pd.read_csv('imdb.csv')
df2 = pd.read_csv('imdb2.csv')
imdb = pd.concat([df1, df2])

imdb['plotterms'] = imdb['plot'].apply(lambda x: ' '.join([item for item in x.lower().split() if item not in stopwords]))

# remove all special characters from the plotterms column
imdb['plotterms'] = imdb['plotterms'].str.replace('[^\w\s]', '')

/var/folders/80/bc2y19t14tv5bdpct_7hqsd80000gn/T/ipykernel_9569/3252841102.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  imdb['plotterms'] = imdb['plotterms'].str.replace('[^\w\s]', '')

##### __(b)  Create an inverted index for the terms in the 'plotterms' column. Use a datastructure of your choice for the implementation [1 point]__

In [105]:
# reset index
imdb = imdb.reset_index(drop=True)

inverted_index = {}
for index, row in imdb.iterrows():
    for term in row['plotterms'].split():
        if term not in inverted_index:
            inverted_index[term] = []
        inverted_index[term].append(index)

##### __(c) Take the inverted index and create the posting list for the query 'american'. Return the posting list as well as the top5 items scored by the rating attribute. [1 point]__

In [106]:
# create the posting list for the query 'american' and make it unique
posting_list = inverted_index['american']
posting_list = list(set(posting_list))

# return the posting list as well as the top5 scored by the rating attribute
top5 = imdb.iloc[posting_list][['title', 'rating']].sort_values('rating', ascending=False).head(5)

print("The top 5 movies with the word 'american' in the plot are:")
top5

The top 5 movies with the word 'american' in the plot are:

                  title  rating
102            The Wire     9.3
116     The Vietnam War     9.1
135       The Civil War     9.0
18   Back to the Future     8.6
161   My Favorite Movie     8.4

##### __(d) Take the inverted index and create the posting lists for the query terms 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot). Your merging algorithm should be efficient and reduce the number of comparison to a minimum. Don't use existing python methods (like intersect or in) for the merge algorithm. Return the merged posting list as well as the top5 items scored by the rating attribute. [3 points]__

In [107]:
posting_list_american = inverted_index['american']
posting_list_dream = inverted_index['dream']

merged_list = list(set(posting_list_american) & set(posting_list_dream))
posting_list = imdb.iloc[merged_list].sort_values('rating', ascending=False)

top5 = posting_list[['title', 'rating']].head(5)
top5

                              title  rating
161               My Favorite Movie     8.4
159  Fear and Loathing in Las Vegas     7.5
160                The Great Gatsby     7.2
162                     Joshua Tree     6.6
165                       Immigrant     5.8

##### __(e) Extend your index to be able to rank the resulting items from Task 2d by the occurrence of search terms in the plotterms. Execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) again and print the resulting items.  [2 points]__

In [108]:
def create_query_term_count(posting_list, query_terms):
    posting_list['term_count'] = posting_list['plotterms'].apply(lambda x: len(x.split()))

    # count how many times any of the query terms appear in the plot
    posting_list['query_term_count'] = posting_list['plotterms'].apply(lambda x: len([item for item in x.split() if item in query_terms.split()]))


    # order by the query_term_count column and filter if query_term_count is greater than 0
    return posting_list[posting_list['query_term_count'] > 0].sort_values('query_term_count', ascending=False)



create_query_term_count(posting_list, 'american dream')

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot,plotterms,term_count,query_term_count
159,120669,movie,Fear and Loathing in Las Vegas,['English'],"['Adventure', 'Comedy', 'Drama']",7.5,Terry Gilliam,0,0,0,['An oddball journalist and his psychopathic l...,an oddball journalist psychopathic lawyer trav...,114,9
161,2069861,movie,My Favorite Movie,['English'],"['Comedy', 'Family']",8.4,Martin Rogers,0,0,0,['Dave has the American Dream and hates it. Hi...,dave american dream hates it eccentric friends...,80,6
160,1343092,movie,The Great Gatsby,['English'],"['Drama', 'Romance']",7.2,Baz Luhrmann,0,0,0,"['A writer and wall street trader, Nick, finds...",a writer wall street trader nick finds drawn l...,329,6
162,2267368,movie,Joshua Tree,['English'],['Drama'],6.6,Li Cheng,0,0,0,['Set in the U.S. heartland following the 2008...,set us heartland 2008 economic collapse divorc...,50,4
165,2365001,movie,Immigrant,['English'],['Drama'],5.8,Barry Shurchin,0,0,0,['The coming of age story of a young Russian i...,the coming age story young russian immigrant s...,94,4
164,5092484,movie,Beneath Us,"['English', 'Spanish']","['Horror', 'Thriller']",5.3,Max Pachman,0,0,0,['The American Dream becomes a nightmare for a...,the american dream nightmare group undocumente...,51,4
163,13560124,movie,After America,"['English', 'Somali']","['Drama', 'Fantasy', 'Mystery']",4.5,Jake Yuzna,0,0,0,['A group of criminal justice de-escalation wo...,a group criminal justice deescalation workers ...,55,4
166,373862,movie,Getno,"['Hungarian', 'English']",['Comedy'],4.0,András Salamon,0,0,0,"['Following the promise of the American Dream,...",following promise american dream jancsi major ...,67,4

##### __(f) Use the TF-IDF score and the cosine similarity to execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) against all plots in the collection. Print the results with the corresponding ranking score. Also execute the query 'american' or 'dream' (the term 'american' or the term 'dream' should be contained in the plot).  [4 points]__

In [109]:
from math import log

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

vectorizer = TfidfVectorizer()


def inverse_document_frequency(all_documents, terms):
    num_documents_with_this_term = 0
    for term in terms.split():
        for index, doc in all_documents.iterrows():
            if term in doc['plotterms'].split():
                num_documents_with_this_term += 1
        if num_documents_with_this_term > 0:
            return 1.0 + log(float(len(all_documents)) / num_documents_with_this_term)
        else:
            return 1.0


def cos_sim(df, query):
    X = vectorizer.fit_transform(df['plotterms'])
    query_vec = vectorizer.transform([query])

    results = cosine_similarity(X,query_vec)
    results = results.flatten()
    df['cos_sim'] = results



def tf_idf(posting_list, query):
    # calculate the term frequency
    tf = posting_list['query_term_count'] / posting_list['term_count']
    posting_list['term_frequency'] = tf
    # calculate the inverse document frequency
    idf = inverse_document_frequency(imdb, query)
    # calculate the TF-IDF score
    posting_list['tf_idf'] = tf * idf


def search(query):
    query_list = create_query_term_count(posting_list, query)
    tf_idf(query_list, query)
    cos_sim(query_list, query)
    
    return query_list


queries = ['american dream', 'american', 'dream']
for query in queries:
    query_list = search(query)
    display(query_list)

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot,plotterms,term_count,query_term_count,term_frequency,tf_idf,cos_sim
159,120669,movie,Fear and Loathing in Las Vegas,['English'],"['Adventure', 'Comedy', 'Drama']",7.5,Terry Gilliam,0,0,0,['An oddball journalist and his psychopathic l...,an oddball journalist psychopathic lawyer trav...,114,9,0.078947,0.269206,0.216007
161,2069861,movie,My Favorite Movie,['English'],"['Comedy', 'Family']",8.4,Martin Rogers,0,0,0,['Dave has the American Dream and hates it. Hi...,dave american dream hates it eccentric friends...,80,6,0.075000,0.255746,0.153471
160,1343092,movie,The Great Gatsby,['English'],"['Drama', 'Romance']",7.2,Baz Luhrmann,0,0,0,"['A writer and wall street trader, Nick, finds...",a writer wall street trader nick finds drawn l...,329,6,0.018237,0.062187,0.058441
162,2267368,movie,Joshua Tree,['English'],['Drama'],6.6,Li Cheng,0,0,0,['Set in the U.S. heartland following the 2008...,set us heartland 2008 economic collapse divorc...,50,4,0.080000,0.272795,0.140293
165,2365001,movie,Immigrant,['English'],['Drama'],5.8,Barry Shurchin,0,0,0,['The coming of age story of a young Russian i...,the coming age story young russian immigrant s...,94,4,0.042553,0.145104,0.104111
164,5092484,movie,Beneath Us,"['English', 'Spanish']","['Horror', 'Thriller']",5.3,Max Pachman,0,0,0,['The American Dream becomes a nightmare for a...,the american dream nightmare group undocumente...,51,4,0.078431,0.267447,0.134130
163,13560124,movie,After America,"['English', 'Somali']","['Drama', 'Fantasy', 'Mystery']",4.5,Jake Yuzna,0,0,0,['A group of criminal justice de-escalation wo...,a group criminal justice deescalation workers ...,55,4,0.072727,0.247996,0.127110
166,373862,movie,Getno,"['Hungarian', 'English']",['Comedy'],4.0,András Salamon,0,0,0,"['Following the promise of the American Dream,...",following promise american dream jancsi major ...,67,4,0.059701,0.203579,0.119714

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot,plotterms,term_count,query_term_count,term_frequency,tf_idf,cos_sim
159,120669,movie,Fear and Loathing in Las Vegas,['English'],"['Adventure', 'Comedy', 'Drama']",7.5,Terry Gilliam,0,0,0,['An oddball journalist and his psychopathic l...,an oddball journalist psychopathic lawyer trav...,114,5,0.043860,0.149559,0.169711
161,2069861,movie,My Favorite Movie,['English'],"['Comedy', 'Family']",8.4,Martin Rogers,0,0,0,['Dave has the American Dream and hates it. Hi...,dave american dream hates it eccentric friends...,80,3,0.037500,0.127873,0.108520
160,1343092,movie,The Great Gatsby,['English'],"['Drama', 'Romance']",7.2,Baz Luhrmann,0,0,0,"['A writer and wall street trader, Nick, finds...",a writer wall street trader nick finds drawn l...,329,3,0.009119,0.031094,0.041324
162,2267368,movie,Joshua Tree,['English'],['Drama'],6.6,Li Cheng,0,0,0,['Set in the U.S. heartland following the 2008...,set us heartland 2008 economic collapse divorc...,50,2,0.040000,0.136398,0.099202
165,2365001,movie,Immigrant,['English'],['Drama'],5.8,Barry Shurchin,0,0,0,['The coming of age story of a young Russian i...,the coming age story young russian immigrant s...,94,2,0.021277,0.072552,0.073617
164,5092484,movie,Beneath Us,"['English', 'Spanish']","['Horror', 'Thriller']",5.3,Max Pachman,0,0,0,['The American Dream becomes a nightmare for a...,the american dream nightmare group undocumente...,51,2,0.039216,0.133723,0.094844
163,13560124,movie,After America,"['English', 'Somali']","['Drama', 'Fantasy', 'Mystery']",4.5,Jake Yuzna,0,0,0,['A group of criminal justice de-escalation wo...,a group criminal justice deescalation workers ...,55,2,0.036364,0.123998,0.089881
166,373862,movie,Getno,"['Hungarian', 'English']",['Comedy'],4.0,András Salamon,0,0,0,"['Following the promise of the American Dream,...",following promise american dream jancsi major ...,67,2,0.029851,0.101789,0.084650

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot,plotterms,term_count,query_term_count,term_frequency,tf_idf,cos_sim
159,120669,movie,Fear and Loathing in Las Vegas,['English'],"['Adventure', 'Comedy', 'Drama']",7.5,Terry Gilliam,0,0,0,['An oddball journalist and his psychopathic l...,an oddball journalist psychopathic lawyer trav...,114,4,0.035088,0.133874,0.135769
161,2069861,movie,My Favorite Movie,['English'],"['Comedy', 'Family']",8.4,Martin Rogers,0,0,0,['Dave has the American Dream and hates it. Hi...,dave american dream hates it eccentric friends...,80,3,0.037500,0.143078,0.108520
160,1343092,movie,The Great Gatsby,['English'],"['Drama', 'Romance']",7.2,Baz Luhrmann,0,0,0,"['A writer and wall street trader, Nick, finds...",a writer wall street trader nick finds drawn l...,329,3,0.009119,0.034791,0.041324
162,2267368,movie,Joshua Tree,['English'],['Drama'],6.6,Li Cheng,0,0,0,['Set in the U.S. heartland following the 2008...,set us heartland 2008 economic collapse divorc...,50,2,0.040000,0.152616,0.099202
165,2365001,movie,Immigrant,['English'],['Drama'],5.8,Barry Shurchin,0,0,0,['The coming of age story of a young Russian i...,the coming age story young russian immigrant s...,94,2,0.021277,0.081179,0.073617
164,5092484,movie,Beneath Us,"['English', 'Spanish']","['Horror', 'Thriller']",5.3,Max Pachman,0,0,0,['The American Dream becomes a nightmare for a...,the american dream nightmare group undocumente...,51,2,0.039216,0.149624,0.094844
163,13560124,movie,After America,"['English', 'Somali']","['Drama', 'Fantasy', 'Mystery']",4.5,Jake Yuzna,0,0,0,['A group of criminal justice de-escalation wo...,a group criminal justice deescalation workers ...,55,2,0.036364,0.138742,0.089881
166,373862,movie,Getno,"['Hungarian', 'English']",['Comedy'],4.0,András Salamon,0,0,0,"['Following the promise of the American Dream,...",following promise american dream jancsi major ...,67,2,0.029851,0.113893,0.084650